@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-bg: #f6f7ff;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* all */
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
.wrapper {
  height: 100vh;
  width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-right: 1px solid #edeaf9;
  background: var(--main-bg);
  height: 100vh;
  width: 250px;
  padding: 20px;
}
main {
  margin-left: 250px;
}
.menu{
  margin: 10px 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--main-bg);
  padding: 20px 20px;
  height: 250px;
  border-bottom: 1px solid #edeaf9;
}
.logo__text {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 10px;
  color: #51459c;
}

.search {
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  border-radius: 4px;
}
.search__input {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  padding: 1rem;
  width: 150px;
}
.search__icon {
  font-size: 1.5rem;
  color: #bebebe;
  transform: rotateY(180deg);
}
.search__input::placeholder {
  color: #bebebe;
  font-weight: 600;
}
.button-icon {
  background: none;
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
}
.button-icon:hover {
  color: #51459f;
}
.links {
  background: none;
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
}
.menu__link {
  color: #51459f;
}


.menu__link:hover {
  color: #3a3a3a;
}
.link {
  text-decoration: none;
  color: #a0a1aa;
}
.link--bold {
  font-weight: 600;
}
.link--medium {
  font-size: 1.1rem;
}
.user-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}
.mr-4 {
  margin-right: 1rem;
}
.avatar {
  background: #51459f;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(189, 185, 185, 0.25),
    0 10px 10px rgba(157, 155, 155, 0.22);
}
.avatar:hover {
  box-shadow: 0 14px 28px rgba(36, 34, 34, 0.25),
    0 10px 10px rgba(14, 12, 12, 0.22);
}
.links *:not(:last-child) {
  margin-right: 2rem;
}

.menu__list {
  list-style-type: none;
  padding-left: 0;
}
.menu__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  font-size: 0.75rem;
  padding: 7px 15px;
}
.menu__icon--medium {
  font-size: 1.5rem;
}
.menu__icon--small {
  font-size: 0.7rem;
}
.menu__item-name {
  font-size: 1rem;
  font-weight: 500;
}
.menu__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mr-2 {
  margin-right: 0.5rem;
}
.main__cards-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px;
}

.main__card-item {
  margin: -100px 10px 10px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 360px;
  height: 220px;
  background-color: rgb(213, 238, 247);
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 30px;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}

.card--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__name {
  font-weight: bold;
}

.card__link {
  text-decoration: underline;
  font-weight: bold;
  color: #a5a5b0;
}

.card__link:hover {
  color: #333;
}

.card--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__amount {
  font-size: 1.5rem;
  font-weight: bold;
}

.card--orange-blue {
  background: linear-gradient(to right bottom, #ffedd0, #8f97f0);
}

.card--pink {
  background: linear-gradient(to right bottom, #f4b487, #fee1ec);
}
.card__currency {
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
}

.card--question-icon {
  width: 25px;
  height: 25px;
  background-color: #b6b9bc;
  border-radius: 100%;
  color: #eed7d5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--question-icon:hover {
  background-color: #302d2d;
}

.card__saving-icon-area {
  width: 50px;
  height: 50px;
  background-color: rgb(248, 199, 207);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__saving-icon {
  color: #df4840;
  font-size: 30px;
}

.card--bottom-wrap {
  margin-right: 80px;
}

.card__percentage {
  font-size: 1.25rem;
  color: #df4840;
  font-weight: bold;
}

.card__percentage-info {
  font-weight: bold;
  padding-top: 5px;
}

.pay-card {
  background: linear-gradient(to right bottom, #e6fae6, #b8f883);
}

.pay-card__icon {
  font-size: 35px;
  margin: 0;
}

.pay-card__num-caption,
.pay-card__name-caption,
.pay-card__date-caption {
  text-transform: uppercase;
  color: #999;
  font-size: 10px;
  margin: 10px 0;
}

.pay-card__number {
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.pay-card__date,
.pay-card__name {
  font-weight: bold;
  font-size: 14px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.help__section--help {   
  border-radius: 20px;
  background: linear-gradient(to right, #fbf1df, #e0dbf5);
  width: 200px;
  height: 210px;
  min-height: 150px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.help__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.help__heading {
  padding: 10px;
  color: #4a3c2c;
}

.help__text {
  color: #aa9379;
  padding: 5px;
  font-size: 0.8rem;
}
.help__btn {
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.8rem;
  color: #4a3c2c;
  cursor: pointer;
}

.help__btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.help__btn:active {
  box-shadow: rgb(204, 219, 232) 2px 2px 3px 0px inset,
    rgba(255, 255, 255, 0.5) -2px -2px 3px 1px inset;
}
.title {
  margin-left: 20px;
  padding: 2rem;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 20px 20px;
}
.right {
  background: lightseagreen;
  width: calc(60% - 5px);
  height: 100%;
  border-radius: 5%;
}
.left {
  height: 100%;
  background: #51459f;
  width: calc(40% - 5px);
  border-radius: 5%;
}
.burger {
  display: none;
}
@media (max-width: 768px) {
 

  .sidebar {
    transform: translateX(calc(250px * -1));
    transition: all 0.5s ease-out;
    width: 250px;
    z-index: 1;
    height: 800px;
  }
  .sidebar--open {
    transform: none;
  }
  main {
    margin: 0;
  }
  .main__cards-list {
    display: flex;
    margin: 0;
    padding: 0 40px 0 40px;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
  }
  .burger {
    left: 0;
    bottom: 60vh;
    display: block;
    position: fixed;
    background: rgba(213, 245, 241, 0.6);
    border: 1px solid;
    padding: 0 1rem;
    font-size: 3rem;
    border-radius: 35%;
    transition: all 0.5s ease-out;
    cursor: pointer; /*только для разработки*/
  }
  .burger--open {
    left: 250px;
  }
  .main__cards-list {
    flex-direction: column;
    
    margin-top: -70px;
  }
  .search__input {
    width: 80px;
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  .links,
  .mr-4 {
    font-size: 0.75rem;
  }
  .button-icon {
    font-size: 1.3rem;
  }
}
